<!--
  Generated template for the ProjetoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorBrand">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todas PL's</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<ion-card *ngFor="let projeto of lista_projetos">
    <ion-item>
      <ion-card-content>
        <ion-avatar item-left>
          <img src="../images/avatar-anonimo.png">
        </ion-avatar>
        <ion-card-header>{{ projeto.numero }}</ion-card-header>
        <ion-card-header>{{ projeto.id }}</ion-card-header>
        <p>{{ projeto.uri }}</p>
        <p><strong>Autor:</strong>{{ projeto.tipoAutor }}</p>
        <p><strong>Data:</strong> {{ projeto.dataApresentacaoInicio }}</p>
        <p><strong>Area de interesse:</strong> Saúde</p>
        <p><strong>Status:</strong> Em andamento</p>
        <a >Veja aqui o texto da PL</a>
      </ion-card-content>
    </ion-item>

  </ion-card>-->

  <div class="filtro">
    <div class="tagFiltro">
      Adicionadas recentemente
    </div>

    <div class="tagFiltro">
      Em votação
    </div>

    <div class="tagFiltro">
      Em votação
    </div>
    <ion-icon name="funnel" class="iconFunnel" (click)="itemTapped($event)"></ion-icon>
  </div>
  
  
  <ion-card *ngFor="let projeto of lista_projetos">
    <ion-item>
      <ion-avatar item-left>
          <img src="assets/images/avatar-anonimo.png">
      </ion-avatar>
      <p class="heading colorBrand textoForte">{{ projeto.id }} / PMBD</p>
      <p class="subHeading colorBrand textoForte">PL {{ projeto.id}}/{{ projeto.ano }}</p>
      <p class="situacaoProposicao">Aguardando Despacho do Presidente da Câmara dos Deputados</p>
    </ion-item>

    <div class="resumoProjeto">
      <p class="textoResumo">{{ projeto.ementa }}</p>
    </div>

    <ion-row>
      <ion-col text-center>
        <button ion-button icon-left clear small>
          <ion-icon name="person-add"></ion-icon>
          <div>Seguir</div>
        </button>
      </ion-col>
      
      <ion-col (click)="seleciona(projeto)">
        <button ion-button icon-left clear small>
          <div>Ver detalhes</div>
        </button>
      </ion-col>
      
      <ion-col center text-center class="tempo">
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
      
    </ion-row>
    
  </ion-card>

