page-projeto {
  .colorBrand{
    color: #2a98b0;
    font-weight: 500;
  }
  .heading{
    font-size: 16px;
  }
  .subHeading{
    font-size: 14px;
  }
  .situacaoProposicao{
    font-size: 11px;
    color: #9a9a9a;
  }
  .resumoProjeto{
    background-color: #f6f6f6;
    padding: 1em;
  }
  .textoResumo{
    color: #555555;
  }
  .tempo{
    margin-top: 10px;
    display: block;
  }

}
