page-projeto {
  .situacaoProposicao{
    font-size: 11px;
    color: #9a9a9a;
  }
  .resumoProjeto{
    background-color: #f6f6f6;
    padding: 1em;
  }
  .textoResumo{
    color: #555555;
  }
  .tempo{
    margin-top: 10px;
    display: block;
  }
  .col{
    padding: 0 !important;
  }
}
